{% extends 'home/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    {% if msg %}
    <h4 class="alert alert-danger text-center">{{msg}}</h4>
    {% endif %}
    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            {% if request.user.is_authenticated %}
            <div class="returning_customer">
                <div class="check_title">
                    <h2>Welcome {{request.user|capfirst}}</h2>
                </div>
            </div>
            <br>
            {% else %}
            <div class="returning_customer">
                <div class="check_title">
                    <h2>Returning Customer? <a href="#">Click here to login</a></h2>
                </div>
                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new
                    customer, please proceed to the Billing & Shipping section.</p>
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="name" name="name">
                        <span class="placeholder" data-placeholder="Username or Email"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="placeholder" data-placeholder="Password"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">login</button>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option" name="selector">
                            <label for="f-option">Remember me</label>
                        </div>
                        <a class="lost_pass" href="#">Lost your password?</a>
                    </div>
                </form>
            </div>
            {% endif %}
            <div class="cupon_area">
                <div class="check_title">
                    <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
                </div>
                <input type="text" placeholder="Enter coupon code">
                <a class="tp_btn" href="#">Apply Coupon</a>
            </div>

            <form action="{% url 'checkout' %} " method="post"> {% csrf_token %}
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing & Shipping Details</h3>
                        {% for data in address %}
                        <div class="container overflow-hidden">
                            <div class="col-6">
                                <div class="form-check">
                                    <h4 >
                                    <input class="form-check-input" type="radio" id="id_{{data.id}}" name="address" value="{{data.id}}"  >
                                    <label class="form-check-label" for="id_{{data.id}}">{{data.fname|capfirst}} {{data.lname|capfirst}} </label><br>
                                    </h4>
                                    <p class="text-capitalize">{{data.address_line1}}, <br>{{data.address_line2}},
                                    <br>{{data.city}}-{{data.Zipcode}}, {{data.state}}, {{data.country}}
                                    <br>{{data.mobile_no}}, {{data.alternative_mobile_no}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    <a href="{% url 'address' %}" class="tp_btn m-3" >Add Billing & Shipping Details</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                            {% for data in product %}
                                <li><a href="#">{{data.product.title}} <span class="middle">{{data.qty}}x{{data.product.d_price}}</span> <span class="last">${{data.get_total}}</span></a></li>
                            {% endfor %}
                            </ul>
                            <hr>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>${{subtotal}}</span></a></li>
                                <li><a href="#">Tax 18% <span>${{tax}}</span></a></li>
                                <li><a href="#">Total <span>${{net_total}}</span></a></li>
                            </ul>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="cod" name="payment_method" value="cod"  >
                                    <label for="cod">Cash On Delivery</label>
                                    <div class="check"></div>
                                </div>
                                <p>Pay Cash when Product Delived to You</p>
                            </div>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="check" name="payment_method" value="check"  >
                                    <label for="check">Check payments</label>
                                    <div class="check"></div>
                                </div>
                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                    Store Postcode.</p>
                            </div>
                            <div class="payment_item ">
                                <div class="radion_btn">
                                    <input type="radio" id="paypal" name="payment_method" value="paypal"  >
                                    <label for="paypal">Paypal </label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                    account.</p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            <input type="submit" value="Proceed To" class="primary-btn">
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>
    <!--================End Checkout Area =================-->
{% endblock main %}
